<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Recipe Book</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a routerLinkActive="active" routerLink="/recipes" class="nav-link" >Recipes</a>
      </li>
      <li class="nav-item">
        <a routerLinkActive="active" routerLink= "/shopping-list" class="nav-link">Shopping List</a>
      </li>
    </ul>
      <div class="btn-group">
        <button (click)="cccc1()" type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Manage
        </button>
        <div [ngClass]="isClicked? 'dropdown-menu dropdown-menu-left show' : 'dropdown-menu dropdown-menu-left'" (click)="cccc1()">
          <button class="dropdown-item" type="button">Save Data</button>
          <button class="dropdown-item" type="button">Fetch Data</button>
        </div>
      </div>

</div>

</nav>
