

<div class="container">
  <br>

  <div class="row">
    <div class="col-md-4">
      <button class="btn btn-success"
        (click)="onNewRecipe()">
        New Recipe
      </button>
    </div>
  </div>

  <hr>

    <app-recipes-item
    *ngFor="let recipeEL of recipes let i = index"
    [recipe] ="recipeEL"
    [index]="i"></app-recipes-item>


</div>
