<div class="row">
  <div class="col-xs-12">
    <img src="" alt="" class="img-responisve">
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h1>{{recipe.name}}</h1>
    <img src="{{recipe.imagePath}}" style="height: 500px;">
  </div>
</div>

<div class="row mt-3">
  <div class="col-xs-12">
    <div
    class="btn-group">
    <button
      type="button"
      class="btn btn-primary dropdown-toggle"
      (click) = "cccc()">
      Manage Recipe <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" #togg
    (click) = "cccc()">
      <li style='cursor: pointer;' ><a (click)="onAddToShoppingList()" style="cursor: pointer">To Shopping List</a></li>
      <li style='cursor: pointer;'><a  (click)="onEditRecipe()">Edit Recipe</a></li>
      <li><a href="#">Delete Recipe</a></li>
    </ul>
  </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    {{recipe.description}}
  </div>
</div>
<div class="row">
  <div class="col-xs-12 mt-3">
    <h3>Ingredients</h3>
    <ul class="list-group">
      <li class="list-group-item"
          *ngFor="let ingredient of recipe.ingredients">
          {{ingredient.name}}-{{ingredient.amount}}</li>
    </ul>
  </div>
</div>
