
<div class="row md-3">
  <a class="list-group"
     style="cursor:pointer"
     [routerLink]='[index]'
    >
  <li class="list-group-item "
  routerLinkActive="active" >
    <h4> {{recipe.name}} </h4>
    <p> {{recipe.description}} </p>
    <div class="image-parent">
        <img [src]="recipe.imagePath" class="img-fluid" alt="quixote">
    </div>
  </li>
</a>
<br>
</div>

