<app-header (RecipesState)="RecipeClick($event)" (ShoppingState)="ShoppingClick($event)"></app-header>

<div class="container">
  <div class="row">
    <router-outlet></router-outlet>
  </div>
</div>
