<div class="container">
  <div class="col">
    <form>
      <div class="row">
        <div class="col form group">
          <label for="name">Name</label>
          <input
                  type="text"
                  id="name"
                  class="form-control"
                  #nameInput>
        </div>
      </div>
      <div class="row">
        <div class="col form-group">
            <label for="amount">Amount</label>
            <input type="number"
                   id="amount"
                   class="form-control"
                   #amountInput>
        </div>
      </div>
        <div class="row">
             <button  (click)= "onAddItem()" class="btn btn-success mr-3" type="button">Add</button>
            <button class="btn btn-danger mr-3" type="button">Delete</button>
            <button class="btn btn-primary" type="button">Clear</button>
        </div>
    </form>
  </div>
</div>
